*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(./jake-weirick-Zu6wtAvLWgE-unsplash.jpg);
    background-position: center;
    background-size: center;
    height:109vh;
}

.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
}

.icon{
    width:200px;
    float: left;
    height:70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family:Arial;
    padding-left: 20px;
    float:left;
    padding-top:10px;
}

.menu{
    width:400px;
    float: left;
    height:70px;
}

ul{
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li{
    list-style: none;
    margin-left:62px;
    margin-top: 27px;
    font-size: 14px;
    color: white;
    font-family: Arial;
    cursor: pointer;
    transition: 0.5s;
}

ul li:hover{
    color: #ff7200;
    transition: 0.5s;
}

.content{
    width:1200px;
    height: auto;
    margin:auto;
    color: #fff;
    position: relative;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing:2px;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing:1.2px;
    line-height: 30px;
}


.content span{
    color: #ff7200;
    font-size: 60px;
}


.content .cn{
    width:160px;
    height: 40px;
    background:#ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius:10px;
    cursor: pointer;
}

.content .cn a{
  text-decoration: none;  
  color:black;
  transition: 0.5s;
}

.cn:hover{
  background-color: white;
  transition: 0.5s;
}


